In [2]:
import pandas as pd

In [3]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                      'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})

In [8]:
left

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K0
3  A3  B3  K1

In [4]:
right = pd.DataFrame({'C': ['C0', 'C1'],
                       'D': ['D0', 'D1']},
                       index=['K0', 'K1'])

In [7]:
right

     C   D
K0  C0  D0
K1  C1  D1

In [5]:
result = left.join(right, on='key')

In [6]:
result

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

In [50]:
lga = pd.DataFrame({'lganame': ['john', 'jenny', 'anna-maria', 'alfred'],
                      'lgaurn': ['1', '2', '3', '4'],
                      'lgamail': ['B0.com', 'B1.io', 'B2.usa', 'B3.eu'],
                     'state_num': ['1', '1', '1', '1']})

In [51]:
lga

  lgamail     lganame lgaurn state_num
0  B0.com        john      1         1
1   B1.io       jenny      2         1
2  B2.usa  anna-maria      3         1
3   B3.eu      alfred      4         1

In [69]:
state = pd.DataFrame({'snoname': ['barbara', 'babangida' ],
                       'snourn': ['+911', '+112'],
                     'snomail': ['@babs.com', '@bored.org']},
                       index=['1', '2'])

In [70]:
state

      snomail    snoname snourn
1   @babs.com    barbara   +911
2  @bored.org  babangida   +112

In [65]:
state = state.query('snourn=="+112"')
#df2 = df2.query('state_num==16')

In [66]:
# only one row in state causes the merge to crash
# two rows in state allows the merge to function as expected

In [72]:
imam = lga.join(state, on='state_num')

In [73]:
imam

  lgamail     lganame lgaurn state_num    snomail  snoname snourn
0  B0.com        john      1         1  @babs.com  barbara   +911
1   B1.io       jenny      2         1  @babs.com  barbara   +911
2  B2.usa  anna-maria      3         1  @babs.com  barbara   +911
3   B3.eu      alfred      4         1  @babs.com  barbara   +911