In [2]:
%matplotlib inline  

import pandas as pd
import pandas_highcharts.core
from sqlalchemy import create_engine
import psycopg2
import matplotlib.pyplot 

import os

os.environ.setdefault("DJANGO_SETTINGS_MODULE", "IMAM.settings")

from django.conf import settings
from home.management.commands.load_data import rename_cols, assign_state_lga_num

import django
django.setup()

from home.models import Stock, Site

In [3]:
engine = create_engine(
    'postgresql://{USER}:{PASSWORD}@{HOST}:{PORT}/{NAME}'.format(**settings.DATABASES['default']))
df = pd.read_sql_query("select * from stock;", con=engine)

In [5]:
df.head()

,index,contact_uuid,urn,name,groups,siteid,first_seen,last_seen,weeknum,level,...,rutf_bal_carton,rutf_bal_sachet,rutf_out,rutf_bal,f75_bal_carton,f75_bal_sachet,f100_bal_carton,f100_bal_sachet,confirm,unique
0,0,acf7f7a2-393b-4a13-bdb5-4ca4aab05353,2347035678763,Hauwa Zoakah.,"Imam Supervision, Imam Supervision 2, Imam Sup...",2,2016-11-30 13:11:23,2016-11-30 13:11:23,None,None,...,None,None,None,None,None,None,None,None,None,2347035678763 2016-11-30 13:11:23
1,1,acf7f7a2-393b-4a13-bdb5-4ca4aab05353,2347035678763,Hauwa Zoakah.,"Imam Supervision, Imam Supervision 2, Imam Sup...",2,2016-11-30 13:16:31,2016-11-30 13:16:31,None,None,...,None,None,None,None,None,None,None,None,None,2347035678763 2016-11-30 13:16:31
2,2,acf7f7a2-393b-4a13-bdb5-4ca4aab05353,2347035678763,Hauwa Zoakah.,"Imam Supervision, Imam Supervision 2, Imam Sup...",2,2016-11-30 13:21:14,2016-11-30 13:21:15,None,None,...,None,None,None,None,None,None,None,None,None,2347035678763 2016-11-30 13:21:14
3,3,acf7f7a2-393b-4a13-bdb5-4ca4aab05353,2347035678763,Hauwa Zoakah.,"Imam Supervision, Imam Supervision 2, Imam Sup...",2,2016-11-30 13:25:01,2016-11-30 13:25:01,None,None,...,None,None,None,None,None,None,None,None,None,2347035678763 2016-11-30 13:25:01
4,4,acf7f7a2-393b-4a13-bdb5-4ca4aab05353,2347035678763,Hauwa Zoakah.,"Imam Supervision, Imam Supervision 2, Imam Sup...",2,2016-11-30 13:28:36,2016-11-30 13:28:37,None,None,...,None,None,None,None,None,None,None,None,None,2347035678763 2016-11-30 13:28:36

In [4]:
# Missing data for weeknum
df.weeknum.unique()

array([None], dtype=object)